.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 24px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;
    }

    &::before,
    &::after {
      display: none;
      position: absolute;
      bottom: 23px;
      content: "";
      width: 320px;
      border: 2px solid var(--color-secondary-grey);

      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    flex-wrap: wrap;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 40px 30px;
    }
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
    align-items: flex-start;
  }
}
