.footer {
  text-align: center;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url("../images/bg-images/footer-background-pattern.png");
  padding: 32px 0;
  overflow: hidden;

  @media screen and (min-width: $bp-desktop) {
    text-align: left;
  }

  &__container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__nav,
  &__address {
    flex-basis: 50%;
    display: flex;
    gap: 30px;
    font-style: normal;
    flex-direction: column;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
    }
  }

  &__list,
  &__logo,
  &__address-info {
    flex-basis: 50%;
  }

  &__list {
    flex-direction: column;
    display: flex;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      align-items: flex-start;
    }
  }

  &__copy {
    color: var(--color-secondary-light);
  }

  &::after,
  &::before {
    position: absolute;
    bottom: 0;
    content: "";
    background-repeat: no-repeat;
  }

  &::before {
    background-image: url("../images/bg-images/footer-bread-mobile.png");
    width: 90px;
    height: 195px;
    left: 0;
    top: 50px;

    @media screen and (min-width: $bp-tablet) {
      background-image: url("../images/bg-images/footer-bread-small.png");
      width: 180px;
      height: 120px;
      top: auto;
    }
  }
  &::after {
    background-image: url("../images/bg-images/footer-bread-large.png");
    width: 200px;
    height: 100px;
    right: -50px;
    background-size: 200px 100px;

    @media screen and (min-width: $bp-tablet) {
      width: 380px;
      height: 190px;
      right: 0;
      background-size: contain;
    }
  }

  &__socials {
    display: flex;
    gap: 16px;
  }
}
